<div class="page-login">
  {{#> Form}}
    {{#*inline "title"}}
      Вход
    {{/inline}}

    {{#*inline "fields"}}
      {{> Input label="Логин" type="text" placeholder="ivanivanov" }}
      {{> Input label="Пароль" type="password" placeholder="Пароль" autocomplete="current-password" }}
    {{/inline}}

    {{#*inline "controls"}}
      {{> Button text="Авторизоваться" type="primary" }}

      <a href="#" data-page="signUp">
        Нет аккаунта?
      </a>
    {{/inline}}
  {{/Form}}
</div>
