<form class="form">
  <div class="form-header">
    <h2 class="form__title">
      {{#> title}}{{/title}}
    </h2>
  </div>

  <div class="form-fields">
    {{#> fields}}{{/fields}}
  </div>

  <div class="form-controls">
    {{#> controls}}{{/controls}}
  </div>
</form>
