<div class="page-error">
  <div class="page-error__header">
    <h1>
      500
    </h1>

    <p class="f-20">
      Мы уже фиксим
    </p>
  </div>

  <div class="page-error__controls">
    <a href="#" data-page="profile">
      Назад к чатам
    </a>
  </div>
</div>