<main class="page-error">
  <div class="page-error__header">
    <h1>
      {{number}}
    </h1>

    <p class="f-20">
      {{message}}
    </p>
  </div>

  <div class="page-error__controls">
    <a href="#" data-page="{{link.url}}">
      {{link.text}}
    </a>
  </div>
</main>
