<div class="login-wrapper">
  <div class="login-card">
    <h2 class="login-title">
      Зарегистрироваться
    </h2>
    {{> Input label="Логин" type="text" placeholder="Логин" value="123" }}
    {{> Input label="Пароль" type="password" placeholder="Пароль" value="456" }}
    {{> Button text="Зарегистрироваться" }}
    <p class="login-link">Войти</p>
  </div>
</div>