<main class="base-page">
  <h2>
    Список страниц:
  </h2>

  <nav>
    <ul>
      <li class="f-13">
        <a href="#" data-page="login">
          Страница авторизации
        </a>
      </li>

      <li class="f-13">
        <a href="#" data-page="signUp">
          Страница регистрации
        </a>
      </li>

      <li class="f-13">
        <a href="#" data-page="chats">
          Страница с чатами
        </a>
      </li>

      <li class="f-13">
        <a href="#" data-page="profile">
          Страница профиля
        </a>
      </li>

      <li class="f-13">
        <a href="#" data-page="404">
          Страница c 404 ошибкой
        </a>
      </li>

      <li class="f-13">
        <a href="#" data-page="500">
          Страница с 500 ошибкой
        </a>
      </li>
    </ul>
  </nav>
</main>