<label class="label">
  <input
    class="field f-13"
    type="{{type}}"
    placeholder="{{placeholder}}"
    autocomplete="{{autocomplete}}"
  />
  <span class="text f-13">{{label}}</span>
</label>