.page-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  row-gap: 69px;
}

.page-error__header {
  display: grid;
  row-gap: 20px;
}
