:root {
  --white: #ffffff;
  --grey-50: #eaeaea;
  --grey-100: #efefef;
  --grey-200: #e4edfd;
  --grey-300: #f8f8f8;
  --grey-900: #999999;
  --blue: #3369f3;
  --red: #ff0000;
  --dark-blue: #1e1e1e;
  --black: #000000;
}
