h1,
.h1 {
  font-size: 40px;
  line-height: 100%;
}

h2,
.h2 {
  font-size: 20px;
  line-height: 100%;
}

.f-9 {
  font-size: 9px;
  line-height: 100%;
}

.f-11 {
  font-size: 11px;
  line-height: 100%;
}

.f-12 {
  font-size: 12px;
  line-height: 100%;
}

.f-13 {
  font-size: 13px;
  line-height: 100%;
}

.f-16 {
  font-size: 16px;
  line-height: 100%;
}

.f-20 {
  font-size: 20px;
  line-height: 100%;
}
