.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  font-size: 13px;
  line-height: 100%;
  outline: none;
  border: none;
  cursor: pointer;

  &--primary {
    background-color: #3369f3;
    color: #fff;
  }
}
